@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: "aiaregular";
  src: url("./assets/fonts/AIAEverest-Regular.otf");
}

@font-face {
  font-family: "aiaregularit";
  src: url("./assets/fonts/AIAEverest-RegularItalic.otf");
}

@font-face {
  font-family: "aiamedium";
  src: url("./assets/fonts/AIAEverest-Medium.otf");
}

@font-face {
  font-family: "aiabold";
  src: url("./assets/fonts/AIAEverest-Bold.otf");
}
