@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: "aiaregular";
  src: url("./assets/fonts/AIAEverest-Regular.otf");
  font-weight: 400;
}
